/server/target
/server/classes
/server/checkouts
/server/.lein-*
/server/.nrepl-port
/client/target
/client/classes
/client/checkouts
/client/.lein-*
/client/.nrepl-port
pom.xml
pom.xml.asc
*.jar
*.class
